{# src/ECAM/MyProjectBundle/Resources/views/note/add.html.twig #}

{% extends "ECAMMyProjectBundle::layout.html.twig" %}

{% block body %}

    <h2>Ajouter une annonce</h2>

    {{ include("ECAMMyProjectBundle:note:form.html.twig") }}

    <p>
        Attention : cette annonce sera ajoutée directement
        sur la page d'accueil après validation du formulaire.
    </p>

{% endblock %}